parameters:
    checkMissingIterableValueType: false

    ignoreErrors:
        - '/Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\./'

    excludes_analyse:
        - %currentWorkingDirectory%/src/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/src/Bundle/spec/*
        - %currentWorkingDirectory%/src/Component/spec/*
        - %currentWorkingDirectory%/src/Component/vendor/*
