{% extends '@MobizelMarkdownDocs/layout.html.twig' %}

{% block page_content %}
    <h1>Search results for terms "<em>{{ app.request.get('query') }}</em>"</h1>
    <ul>
        {% for file in files %}
            {% set slug = file.relativePathname|trim('.md', 'right') %}
            <li>
                <a href="{{ path('mobizel_markdown_docs_page_show', { 'slug': slug }) }}">
                    {{ page_title(slug) }} [{{ slug }}]
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
