{% extends '@MobizelMarkdownDocs/page/layout.html.twig' %}

{% block page_content %}
    <h1>Search results</h1>
    <ul>
        {% for file in files %}
            {% set slug = '/docs/' ~ file.relativePathname|trim('.md', 'right') %}
            <li>
                <a href="{{ slug }}">{{ page_title(slug) }} [{{ slug }}]</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
