{% extends '@MobizelMarkdownDocs/layout.html.twig' %}

{% block page_content %}
    <h1>Search results for terms "<em>{{ app.request.get('query') }}</em>"</h1>
    <ul>
        {% for file in files %}
            {% set slug = file.relativePathname|split('.md')[0] %}
            <li>
                <a href="{{ markdown_docs_path_for_page(slug) }}">
                    {{ markdown_docs_page_title(slug) }} [{{ slug }}]
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
