body {
    font-size: .875rem;
    background-color: #F2F7F8;
}

h1 {
    font-size: 28px;
}

h1, h2 {
    padding: 10px 0;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    font-style: italic;
}

.breadcrumb {
    background: none;
    margin: 20px 0 10px 0;
    padding: 0;
}

.breadcrumb-item.active, .breadcrumb-item a {
    color: #9A9A9A;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #9A9A9A;
    content: ">";
}

blockquote {
    background: lightcyan;
    padding: 10px;
    margin: 20px 0;
    border-radius: .5em;
    border: .2em solid lightgray;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    background-color: #133E56;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: hsla(0,0%,100%,.5);
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    background-color: rgb(75, 174, 180) !important;
    border-radius: 0 99px 99px 0!important;
    color: white;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1.2rem;
    background-color: #133E56;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    text-align: center;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

img {
    max-width: 100%;
}
