{% macro nav_item(title, path, current_item) %}
    {% set current = (path in current_item) %}
    <li class="nav-item">
        <a class="nav-link {% if current %}active{% endif %}" href="{{ path }}">
            {{ title }} {% if current %}<span class="sr-only">(current)</span>{% endif %}
        </a>
    </li>
{% endmacro %}
