<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="mobizel_markdown_docs_index" path="docs" controller="Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction">
        <default key="path">/docs/index</default>
    </route>

    <route id="mobizel_markdown_docs_page_show" path="{slug}" controller="mobizel_markdown_docs.controller.page_action">
        <requirement key="slug">docs/.+</requirement>
    </route>

    <route id="mobizel_markdown_docs_search" path="search" controller="mobizel_markdown_docs.controller.search_action">
        <requirement key="query">.+</requirement>
    </route>

    <route id="mobizel_markdown_docs_menu" path="menu" controller="mobizel_markdown_docs.controller.menu_action"/>
</routes>
