{% extends '@MobizelMarkdownDocs/base.html.twig' %}

{% block body %}
    {% include '@MobizelMarkdownDocs/layout/navbar.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    {% include '@MobizelMarkdownDocs/layout/sidebar_menu.html.twig' %}
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                {% block page_content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
