{% extends '@MobizelMarkdownDocs/layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-md-4 px-lg-5">
                <div class="content">
                    {% for page in pages %}
                        {% set table_of_contents = page.tableOfContents %}

                        <h1>{{ page.title }}</h1>
                        {% if table_of_contents is not null %}
                            {{ table_of_contents|markdown_to_html }}
                            <hr>
                        {% endif %}

                        {{ page.content|markdown_to_html }}

                        <div data-next-page></div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.print();
    </script>
{% endblock %}
