<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{{ path('mobizel_markdown_docs_index') }}">Documentation</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form searchform w-100" action="{{ path('mobizel_markdown_docs_search') }}">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
        <input class="form-control w-100"
               type="text"
               placeholder="Search"
               aria-label="Search"
               name="query"
               value="{{ app.request.get('query') }}"
        >
    </form>
{#    <ul class="navbar-nav px-3">#}
{#        <li class="nav-item text-nowrap">#}
{#            <a class="nav-link" href="#">Sign out</a>#}
{#        </li>#}
{#    </ul>#}
</nav>
