{% set previousPageSlug = previous_page(page.slug) %}
{% set nextPageSlug = next_page(page.slug) %}

<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if previousPageSlug %}
        <li class="page-item">
            <a class="page-link" href="{{ path('mobizel_markdown_docs_page_show', { 'slug': previousPageSlug } ) }}" tabindex="-1">
                < {{ page_title(previousPageSlug) }}
            </a>
        </li>
        {% endif %}
        {% if nextPageSlug %}
        <li class="page-item">
            <a class="page-link" href="{{ path('mobizel_markdown_docs_page_show', { 'slug': nextPageSlug } ) }}">
                {{ page_title(nextPageSlug) }} >
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
